<!doctype html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>News List</h1>
    <div class="container">
        <div class="row g-3">
            {% for news in news_list %}
<div class="col">
<div class="card" style="width: 18rem;">
  <img src="{{ news.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ news.title }}</h5>
    <p class="card-text">{{ news.body | truncatewords:10 }}</p>
    <a href="{% url 'news_detail_page' news.id %}" class="btn btn-primary">Detail</a>
  </div>
</div>
</div>

{% endfor %}
        </div>
    </div>

</body>
</html>